@page
@{ 
    var str = "Đây là một biến khai báo và khởi tạo trong code block";

    string SayHello(string name)
    {
        return $"Hello, {name}";
    }

    var s = Solve(1, -2, 1);
}

<h3>@SayHello("Covid")</h3>

<p>@str</p>

@{ 
    str = "Cập nhật giá trị của biến trong một code block khác";
}

<p>@str</p>

<p>Phương trình 2x^2 + 2x + 1 = 0 có nghiệm là @Solve(2, 2, 1)</p>

<p>Phương trình x^2 - 2x + 1 = 0 có nghiệm là @s</p>

@{ 
    (double, double) Solve(double a, double b, double c)
    {
        var d = b * b - 4 * a * c;
        return
            ((-b + Math.Sqrt(d)) / (2 * a),
            (-b - Math.Sqrt(d)) / (2 * a));
    }
}